:root.theme-jamaica {
  --background: rgb(251, 251, 248);
  --foreground: rgb(5, 20, 13);
  --card: rgb(255, 255, 255);
  --card-foreground: rgb(5, 20, 13);
  --popover: rgb(255, 255, 255);
  --popover-foreground: rgb(5, 20, 13);
  --primary: rgb(22, 162, 73);
  --primary-foreground: rgb(251, 251, 248);
  --secondary: rgb(250, 204, 20);
  --secondary-foreground: rgb(5, 20, 13);
  --muted: rgb(243, 241, 237);
  --muted-foreground: rgb(92, 112, 102);
  --accent: rgb(220, 249, 231);
  --accent-foreground: rgb(18, 135, 61);
  --destructive: rgb(239, 67, 67);
  --destructive-foreground: rgb(248, 250, 252);
  --border: rgb(224, 235, 230);
  --input: rgb(224, 235, 230);
  --ring: rgb(22, 162, 73);
  --chart-1: rgb(22, 162, 73);
  --chart-2: rgb(250, 204, 20);
  --chart-3: rgb(15, 61, 38);
  --chart-4: rgb(25, 162, 230);
  --chart-5: rgb(250, 137, 56);
  --sidebar: rgb(21, 40, 31);
  --sidebar-foreground: rgb(251, 251, 248);
  --sidebar-primary: rgb(22, 162, 73);
  --sidebar-primary-foreground: rgb(251, 251, 248);
  --sidebar-accent: rgb(32, 60, 46);
  --sidebar-accent-foreground: rgb(250, 204, 20);
  --sidebar-border: rgb(36, 66, 51);
  --sidebar-ring: rgb(22, 162, 73);
  --font-sans: Outfit, system-ui, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 1.25rem;
  --shadow-x: 0px;
  --shadow-y: 10px;
  --shadow-blur: 30px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: hsl(142, 76%, 10%);
  --shadow-2xs: 0px 10px 30px 0px hsl(142 76% 10% / 0.05);
  --shadow-xs: 0px 10px 30px 0px hsl(142 76% 10% / 0.05);
  --shadow-sm: 0px 10px 30px 0px hsl(142 76% 10% / 0.1), 0px 1px 2px -1px hsl(142 76% 10% / 0.1);
  --shadow: 0px 10px 30px 0px hsl(142 76% 10% / 0.1), 0px 1px 2px -1px hsl(142 76% 10% / 0.1);
  --shadow-md: 0px 10px 30px 0px hsl(142 76% 10% / 0.1), 0px 2px 4px -1px hsl(142 76% 10% / 0.1);
  --shadow-lg: 0px 10px 30px 0px hsl(142 76% 10% / 0.1), 0px 4px 6px -1px hsl(142 76% 10% / 0.1);
  --shadow-xl: 0px 10px 30px 0px hsl(142 76% 10% / 0.1), 0px 8px 10px -1px hsl(142 76% 10% / 0.1);
  --shadow-2xl: 0px 10px 30px 0px hsl(142 76% 10% / 0.25);
  --tracking-normal: -0.03em;
  --spacing: 0.25rem;
}

:root.theme-jamaica.dark {
  --background: rgb(5, 10, 8);
  --foreground: rgb(245, 244, 240);
  --card: rgb(11, 20, 15);
  --card-foreground: rgb(245, 244, 240);
  --popover: rgb(9, 17, 13);
  --popover-foreground: rgb(245, 244, 240);
  --primary: rgb(38, 217, 104);
  --primary-foreground: rgb(5, 10, 8);
  --secondary: rgb(244, 202, 37);
  --secondary-foreground: rgb(5, 10, 8);
  --muted: rgb(24, 37, 31);
  --muted-foreground: rgb(171, 186, 179);
  --accent: rgb(19, 57, 33);
  --accent-foreground: rgb(38, 217, 104);
  --destructive: rgb(230, 25, 25);
  --destructive-foreground: rgb(255, 255, 255);
  --border: rgb(31, 46, 38);
  --input: rgb(31, 46, 38);
  --ring: rgb(38, 217, 104);
  --chart-1: rgb(38, 217, 104);
  --chart-2: rgb(244, 202, 37);
  --chart-3: rgb(71, 207, 235);
  --chart-4: rgb(187, 103, 228);
  --chart-5: rgb(240, 95, 66);
  --sidebar: rgb(3, 7, 5);
  --sidebar-foreground: rgb(245, 244, 240);
  --sidebar-primary: rgb(38, 217, 104);
  --sidebar-primary-foreground: rgb(5, 10, 8);
  --sidebar-accent: rgb(18, 33, 26);
  --sidebar-accent-foreground: rgb(244, 202, 37);
  --sidebar-border: rgb(24, 37, 31);
  --sidebar-ring: rgb(38, 217, 104);
  --font-sans: Outfit, system-ui, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 1.25rem;
  --shadow-x: 0px;
  --shadow-y: 25px;
  --shadow-blur: 50px;
  --shadow-spread: -10px;
  --shadow-opacity: 0.6;
  --shadow-color: hsl(0, 0%, 0%);
  --shadow-2xs: 0px 25px 50px -10px hsl(0 0% 0% / 0.3);
  --shadow-xs: 0px 25px 50px -10px hsl(0 0% 0% / 0.3);
  --shadow-sm: 0px 25px 50px -10px hsl(0 0% 0% / 0.6), 0px 1px 2px -11px hsl(0 0% 0% / 0.6);
  --shadow: 0px 25px 50px -10px hsl(0 0% 0% / 0.6), 0px 1px 2px -11px hsl(0 0% 0% / 0.6);
  --shadow-md: 0px 25px 50px -10px hsl(0 0% 0% / 0.6), 0px 2px 4px -11px hsl(0 0% 0% / 0.6);
  --shadow-lg: 0px 25px 50px -10px hsl(0 0% 0% / 0.6), 0px 4px 6px -11px hsl(0 0% 0% / 0.6);
  --shadow-xl: 0px 25px 50px -10px hsl(0 0% 0% / 0.6), 0px 8px 10px -11px hsl(0 0% 0% / 0.6);
  --shadow-2xl: 0px 25px 50px -10px hsl(0 0% 0% / 1.5);
}
